{% extends "index_layout.html" %}

{% block title %}
    Help and FAQs
{% endblock %}

{% block main %}
    <div class="content_my" style="width: 930px; right: 250px; font-size: 18px;">
        DiarYour - isn`t a real project. It is only my attempt to make the Final Project for CS50: Introduction to Computer Science course) <br>
        So, as a support can serve my video about this project on YouTube channel) <br><br><br>
        <strong>8 Tips for Writing a Diary Entry</strong><br><br>

Since diary entries are like chapters in a book, you first have to decide what your book is going to be about. Brainstorm ideas for your diary, like whether you want it to be just about you or about a specific topic. Once you have a theme, then you can begin!
<br>
<strong>1. Date your entries</strong>
<br>
Since your diary will be kept over a long period of time, each of your entries should be dated based on when you write them.
<br>
<strong>2. Pick a topic</strong>
<br>
Like chapters in a book, you want your diary entry to have some sort of theme or direction. Try and stay focused when writing.
<br>
<strong>3. Write naturally</strong>
<br>
Don’t feel like your entries need to impress anywhere. They are just for you, so relax.
<br>
<strong>4. Be truthful</strong>
<br>
The worst person to lie to is yourself, so when writing your entry try and be as honest as you can.
<br>
<strong>5. Be friendly</strong>
<br>
When you’re writing, try and write as if you’re writing to a friend. How would you tell a story to your best friend?
<br>
<strong>6. Keep writing</strong>
<br>
If you feel like you’re at a loss for words, just keep writing through it. Feel free to record your train of thought.  Think about what you’re writing about and how that could be effecting your entry!
<br>
<strong>7. Re-read your entry</strong>
<br>
Once you have finished your entry, re-read your entry and maybe list some things you hope to focus on in your next entry. Maybe some new things will come to mind that you can jot down before you put your diary down.
<br>
<strong>8. Make it a habit</strong>
<br>
The more frequently you write entries in your diary, the more you will enjoy doing it and the more you will learn from them. Set a certain time during the day that you want to write in your diary and try to keep to that schedule.
<br>
Practice makes perfect, so start practicing your writing today!

    </div>
{% endblock %}
