<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        <link href="{{ url_for('static', filename='styles1.css') }}" rel="stylesheet"/>
        <link rel="shortcut icon" href="static/ic.ico" type="image/x-icon">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>DiarYour: Start Page</title>
        <style>
           body {
                overflow-y: hidden;
               }
           .layer {
                width: 300px; height: 150px; padding: 5px;}
        </style>
    </head>

  <body>
    <div class="container-main_x">
      <div id="zu-app" class="zu-app">
        <div class="app__wrap hide-sidebar--init banner--show" style="">
          <div class="">
            <div id="header_x" class="header_x" header="">
              <div class="header-navigation" header-navigation="">
                <div null="" class=""></div>
              </div>
              <div class="header-search" global-search="" style="">
                <div class="global-search">
                  <div class="global-search__input">
                    <form class="">
                      <input class="js--global-search__input" type="text" placeholder="Search">
                      <button class="btn_x btn-clear_x submit-btn" type="submit">
                        <span class="fa fa-arrow-circle-o-right submit-icn"></span>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="global-search__overlay">
                  </div>
              </div>

                <div>
                  <a href="{{ url_for('index') }}" class="logo" target="_self" >
                  <img class="jpg_logo" alt="logo" src="static/logo1_white.png">  </a>
                </div>

            <div class="header-right-nav">
              <div class="user">
                <div class="user-dropdown dropdown" style="">
                  <a href="" class="dropdown-link js-user-dropdown-link" data-toggle="dropdown">
                          {% for i in name %}{{ i.username }}{% endfor %}
                     </a>
                    <ul id="navbar_n" position="right" role="menu" aria-labelledby="dLabel">
                    <li class="beach">  <a href="#">&darr;&darr;&darr;</a>
                      <ul>
                        <li class="dropdown__podcast">
                          <a href="{{ url_for('history') }}" class="js-dropdown-link" target="_blank" title="zu">
                            &#160;&#160;&#160;&#160;History
                          </a>
                        </li>

                        <li class="dropdown__settings">
                          <a id="js-dropdown-link_v" target="_blank" title="Help and FAQs" href="{{ url_for('helpFAQ') }}">
                            &#160;&#160;&#160;&#160;Help &amp; FAQs
                          </a>
                        </li>
                        <li>
                          <button class="btn_x js-dropdown-link js-logout-button" title="Logout">
                            <a href="{{ url_for('logout') }}" ><strong>LOG OUT&#160;&#160;</strong></a>
                          </button>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              <div class="clr"></div>
            </div>
          </div>

          <div class="clr"></div>
        </div>
      </div>

          <div id="app-container" class="app-container"> <ui-view class="" style=""> <journal-index journals="ctrl.journals" account="ctrl.account" class="">
              <div class="journals__header__wrap">
                <div class="journals__header">
                  <div class="container">
                    <div class="journals__header__content">
                      <p class="">You have {{ count }} {{ b }}</p>
                    </div>
                    <div class="journals__header__actions">
                      <a class=" new-journal btn_x btn-slim btn-primary" href="{{ url_for('index_entry') }}">
                        <span class="icon icn-aj-newjournal"></span>&nbsp;New Entry
                      </a>
                      <a class=" new-journal btn_x btn-slim btn-primary" href="{{ url_for('history') }}">
                        <span class="icon icn-aj-newjournal"></span>&nbsp;History
                      </a>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="content-container">
                              <div class="journals-content journals-content--header journals-content--free-user" journal-index="">
                                  <div class="journals-content-wrap">
                                    <div class="journals-top-content">
                                      <div class="featured-journal-wrap">
                                        <div class="featured-journal" journal-thumb="" journal="journal">
                                          <div class="journal-thumb_wrap">
                                            <div class="journal-thumb">
                                              <div class="journal-locked">   </div>
                                              <a class="journal-thumb_link" href="{{ url_for('history') }}">
                                                <div class="journal-thumb_image " color="green">
                                                </div>
                                              </a>
                                              <div class="journal-thumb_controls">
                                                <h3><a class="" href="{{ url_for('index') }}">&nbsp;{% for i in name %}{{ i.username }}{% endfor %}'s Diary</a></h3>
                                                <div class="journal-thumb_controls_actions">
                                                  <a class="journal-thumb_control new-entry"  href="{{ url_for('index_entry') }}">
                                                  <span class="icon-new fa fa-pencil-square-o"></span>&nbsp;New Entry</a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
             </div>  </journal-index> </ui-view>
          </div>
        </div>

        <div class="footer__wrap" style="">
          <div class="container">
            <div class="public-footer__wrap">
              <div class="footer__navigation single-col">
                <a target="_self" href="{{ url_for('index') }}"> DiarYour: </a>
                <a target="_self" href="{{ url_for('about_us') }}">About us</a>
                <a target="_self" href="{{ url_for('support') }}">Support</a>
              </div>
            </div>
              <p class="public-footer__copyright"> DiarYour   2017 </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
