{% extends "index_layout.html" %}

{% block title %}
    Support
{% endblock %}


{% block main %}
    <div class="content_my">
        DiarYour - isn`t a real project. It is only my attempt to make the Final Project for CS50: Introduction to Computer Science course). <br><br>
        So, as a support can serve my video about this project on YouTube channel)
        <br><br><br><br>
        <div class="vidos">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/XQeZ0DbjRfE?autohide=1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}
